@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}
@theme {
  --color-green-100: #39551b;
  --color-green-200: #6dbb12;
  --color-green-300: #707d63;
  --color-green-400: #8b988b;
  --color-yellow-100: #ff9500;
  --color-yellow-200: #f6f4db;
  --color-yellow-300: #fffff8;
  --color-black-100: #000000;
  --color-black-200: #7d7d7d;
  --color-black-300: #98a2b3;
  --color-black-400: #8b988b;
  --color-black-500: #f4f4f4;
}
.footer {
  background: url('../../public/Rectangle.png');
  height: 638px;
}

.react-day-picker .rdp-nav-button svg {
  fill: #38a169 !important; /* Tailwind's green-600 */
}

/* Optional: Darker green color when hovering over the button */
.react-day-picker .rdp-nav-button:hover svg {
  fill: #2f855a !important; /* Tailwind's green-800 */
}
/*

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 */
